@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

* {
  font-family: "-apple-system", "BlinkMacSystemFont", "Segoe UI", "Roboto", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1.5;
}

.sidebar {
  min-width: 240px;
  max-width: 240px;
  height: 100vh; 
  background: #1c2347;
  color: white;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1;
}

.sidebar-header {
  padding: 20px;
  background: linear-gradient(91.39deg, #00a9ee -0.58%, rgba(191, 191, 191, 0) 102.11%);
}

.sidebar-header h3 {
  font-size: 1.75rem;
}

.sidebar .list-components {
  padding: 20px 0;
  border-bottom: 1px solid #47748b;
}

.sms-reports-container {
  display: flex;
  align-items: center;
  
}

.dashboard,
.template,
.sms-reports {
  color: white;
  cursor: pointer;
  text-decoration: none;
  padding: 10px;
  font-size: 1.1em;
  display: block;
  padding: 10px;
  background: linear-gradient(to right, #f0f0f0 50%, transparent 50%);
  background-size: 200% 100%;
  background-position: right center; 
  transition: background-position 0.4s ease-in-out, color 0.4s ease-in-out;
}

.dashboard:hover,
.template:hover,
.sms-reports:hover{
  background-position: left center; 
  color: rgb(10, 69, 118);
}

.sms-dropdown-toggle {
  cursor: pointer;
  font-size: 8px;
  margin-left: 5px;
  position: relative;
  top: -4px;
}

.sms-dropdown-menu {
  display: flex;
  flex-direction: column;
  margin-left: 35px;
  cursor: pointer;
  margin-bottom: 10px;
  
  
}

.sms-dropdown-menu:hover{
  color: rgb(10, 69, 118);
}

.link{
  text-decoration: none;
  color: white;
  padding: 10px;
  background: linear-gradient(to right, #f0f0f0 50%, transparent 50%);
  background-size: 200% 100%;
  background-position: right center; 
  transition: background-position 0.4s ease-in-out, color 0.4s ease-in-out;
}

.link:hover{
  background-position: left center;
  text-decoration: none;
  color: rgb(10, 69, 118);
}

.active-link {
  background-position: left center;
  color: rgb(10, 69, 118);
  font-weight: bold;
}

.dashboard-container {
  background-color: #f4f4f4;
  margin-left: 150px;
  padding: 10px;
}

.dashboard-container h2 {
  font-size: 1.95rem;
  margin-left: 120px;
  color: #1c2347;
  margin-top: 20px;
}

.dashboard-container .icon {
  padding-top: 5px;
}


